html{
    scroll-behavior: smooth;
}

div#preloader-active div div div i {
    font-size: 4rem;
    color: #5d74ff;
}

div.logo a{
    font-size: 3rem;
}

main section.team-area div.container div.team-active div.single-cat div.cat-icon img{
    width: 193px;
    border-radius: 50%;
}

/* main section.slider-area.slider-area2  div.slider-active div.single-slider.slider-height2 div.container div img {
    border-top: 100rem;
    width: 30%;
    border-radius: 10%;
    display: flex;
    float:right;
    flex-wrap: wrap;
    }     */
    
    
    
/*     
main section.slider-area.slider-area2  img {
    border-top: 100rem;
    width: 10%;
    border-radius: 10%;
    float:right;
}  */

/* #card-playlist{
    height: 50vh;
} */

#descricao{
    height: 20rem;
    overflow-y: auto;
}

#fish-login{
    font-size: 6rem;
    text-align: center;
}

