<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    Home
                </li>
                <li>
                    Lista de Cursos
                </li>
                <li>
                    Newsletter
                </li>
                <li>
                    Sobre nós
                </li>
            </ul>
        </nav>
        <h1>Título</h1>
    </header>
    <section id="catalogo">
        Falar sobre o objetivo do catálogo.
    </section>
    <section id="sobre-nos">
        Colocaremos uma foto de cada um, nome e redes sociais
    </section>
    <footer>
        Rodapé - 2021 (colocar redes sociais da blue)
    </footer>
</body>
</html>